{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block includes %}
<link rel="stylesheet" href="{% static 'css/teams.css' %}">
{% endblock %}

{% block content %}
    <div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 "> <!--border-bottom border-secondary-->
        <h4 class="my-0 mr-md-auto font-weight-bold">Fantasy Golf Teams</h4>
        <a class="btn btn-outline-green" href="{% url 'account_logout' %}">Log out</a>
      </div>


    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-md-6">
                <form class="form-base form-calculate text-center" method="POST" action="{% url 'teams' %}">
                    {% csrf_token %}
                    <h3 class="mt-4 mb-1">{% trans "Enter information:" %}</h3>
                    <label class="mt-4" for="numberOfTeams">Number of desired teams in results:</label>
                    {{ form.num_teams|add_class:"form-control mb-4"|attr:"type:text"|attr:"name:teams"|attr:"placeholder:default = 10"|attr:"autofocus" }}
                    
                    <label class="" for="playersAndCosts">Player costs:</label>
                    {{ form.players|add_class:"form-control"|attr:"cols:80"|attr:"rows:10"|attr:"maxlength:4000"|attr:"placeholder:Copy/paste players with costs"|attr:"required" }}

                
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button id="id_calc_button" class="btn btn-lg btn-primary btn-green my-4" type="submit">
                        <span id="id_calc_spinner" class="spinner-border mx-2 d-none" role="status" aria-hidden="true"></span>
                        {% trans "Calculate" %}
                    </button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="results">
                    <h3 id="results-header" class="text-center mt-4 mb-3">{% trans "Results:" %}</h3>
                    <div id="id_teams" class="teams">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ></div>

    <div class="container-fluid px-0">
        <footer class="py-4">
            <p class="my-1"><em>&copy Copyright 2018 - 2019 Kelby Faessler, All rights reserved</em></p>
        </footer>
    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'js/csrf.js' %}"></script>
    <script>
        $(document).ready(function () {
            var $myForm = $(".form-calculate")
            $myForm.submit(function(event) {
                event.preventDefault()
                $.ajax({
                    method: "POST",
                    url: "{% url 'calculate_teams' %}",
                    data: {
                        'num_teams': $("#id_num_teams").val(),
                        'players': $("#id_players").val()
                    },
                    dataType: 'json',
                    success: function(data) {
                        $("#id_teams").empty()
                        $("#id_total_teams").remove()
                        if (data.total_teams) {
                            $('<p id="id_total_teams" class="text-center"> Number of teams analyzed: ' + data.total_teams + '</p>').insertAfter("#results-header");
                        }
                        if (data.teams) {
                            $("#id_teams").append('<table id="id_best_teams"></table>');
                            $("#id_best_teams").append("<tr><th>Name</th><th>Cost</th><th>Birdie Avg</th></tr>");
                            var team_num = 1
                            $.each(data.teams, function(key, team) {
                                var team_id_str = 'id_team_' + team_num
                                $("#id_best_teams").append('<tr id="' + team_id_str + '" class="team-header"><td>Team ' + team_num + "</td></tr>");
                                var team_cost = 0.0
                                var team_birdie_avg = 0.0
                                $.each(team, function(key, player) {
                                    $("#id_best_teams").append("<tr><td>" + player.name + "</td><td>" + player.cost + "</td><td>" + player.birdie_avg.toFixed(2) + "</td></tr>");
                                    team_cost += player.cost
                                    team_birdie_avg += player.birdie_avg
                                });
                                $("#" + team_id_str).append("<td>" + team_cost + "</td>");
                                $("#" + team_id_str).append("<td>" + team_birdie_avg.toFixed(2) + "</td>");
                                team_num++;
                            });
                        }
                        $("#id_teams").append('<p class="mt-4 mb-1"><b>Players not found with birdie avg:</b></p>')
                        if (data.players_not_found) {
                            $("#id_teams").append('<table id="id_players_not_found"></table>');
                            $.each(data.players_not_found, function(key, value) {
                                $("#id_players_not_found").append("<tr><td>" + value + "</td></tr>")
                            });
                        }
                    }
                });
            })
        });
    </script>
    <script>
        $(document).ajaxStart(function(){
            $("#id_calc_button").html('<span id="id_calc_spinner" class="spinner-border mx-2" role="status" aria-hidden="true"></span>Calculating...');
            $('#id_calc_spinner').removeClass('d-none');
        }).ajaxStop(function(){
            $("#id_calc_button").html('<span id="id_calc_spinner" class="spinner-border mx-2 d-none" role="status" aria-hidden="true"></span>Calculate');
            $('#id_calc_spinner').addClass('d-none');
        });
    </script>

{% endblock %}

